body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
}
.top-bar{
    background-color: rgb(248, 162, 152);
    display: flex;
    height: 110px;
}
.topbar-first{
    
    display: flex;
    width: 50%;
}
.topbar-content{
  
    display: flex;
    width: 50%;
}
.topbar-logo img{
    height: 40px;
    margin-left: 25px;
    margin-top: 25px;
}

.topbar-writing h3{
   margin-top: 30px;
   margin-left: 10px;
}

.topbar-writing p{
    font-weight: 100;
    margin-left: 10px;
}





.option-bar{
    display: flex;
    background-color: rgb(248, 90, 33);
    margin-top: -20px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
}
.optionbar-content{
    width: 50%;
    display: flex;
    margin-left: 20%;
}
.optionbar-content li{
    list-style-type: none;
    padding: 1%;
    margin: 2%;
}

.optionbar-content img{
    height: 25px;
    padding-left: 5%;
    padding-top: 3%;
}

.optionbar-content span{
    margin-top: 9px;
    color: white;
}

.optionbar-content li a{
    text-decoration: none;
    color: white;
}



.section-one{
    display: flex;
}
.sectionone-content{
    width: 50%;
    padding: 5%;
    height: 150%;
}
.sectionone-content img{
    width: 70%;
}
.orange{
    color: orangered;
}
.btn{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-image: linear-gradient(orangered, orange);
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    margin-top: 30px;
}